<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "pl.jw.sw"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Generator JW</name>

  <description>
      Generator czasów dla zebrań JW
  </description>

  <author href="https://swiktor.rzeszow.pl/" email="sarapter18@wp.pl">
      Szymon Wiktor
  </author>

</widget>
